<div class='business-form'>
  <%= form_with model: @business do |b| %>
    <h2>Name</h2>
    <p>Please enter the name of your business</p>
    <%= b.text_field :name %>
    <br>

    <h2>Status</h2>
    <p>Please enter the current status of your business.</p>
    <p>Examples could include "Open," "Pickup and Dropoff Only," or "Seeking Financial Support." Character limit 256.</p>
    <%= b.text_field :status %>
    <br>

    <h2>Delivery Contact</h2>
    <p>Please enter a phone number or URL by which users can place orders for delivery. Leave blank if your business is not offering delivery.</p>
    <%= b.text_field :delivery_contact %>
    <br>

    <h2>Curb-Side Pick-Up Contact</h2>
    <p>Please enter a phone number or URL by which users can place orders for takeout. Leave blank if your business is not offering curbside pick-up.</p>
    <%= b.text_field :pickup_contact %>
    <br>

    <h2>Relief Contact</h2>
    <p>Please enter a phone number or URL by which users can provide relief funding for your business. Leave blank if your business is not accepting relief funding.</p>
    <%= b.text_field :relief_contact %>
    <br>

    <h2>Further Information</h2>
    <p>Users will see this when they view your business's profile.</p>
    <p>This is a good place to add links to your website, phone numbers, links to crowdfunding profiles.</p>
    <p>Examples could include "Call this number to purchase a gift card" or "Our current business hours have changed," or any other details or resources you wish to provide. No character limit.</p>
    <%= b.text_area :description, cols: "100", rows: "10"  %>
    <br>

    <h2>Community</h2>
    <p>Please select the community within Minneapolis where your business is located.</p>
    <%= b.select :community_id, options_for_select(Community.all.map { | c | [c.name, c.id] }), include_blank: true %>

    <%= b.hidden_field :user_id, value: current_user.id %>
    <br>
    <div class="submit-btn">
      <%= b.submit "Submit" %>
    </div>
  <% end %>
</div>
